<div class="scrolling-text">
    <p>Deals Week&nbsp;&nbsp;&nbsp;&nbsp; Free shipping on all orders&nbsp;&nbsp;&nbsp;&nbsp; Deals Week
        &nbsp;&nbsp;&nbsp;&nbsp;Free shipping on all orders
        &nbsp;&nbsp;&nbsp;&nbsp;Deals Week &nbsp;&nbsp;&nbsp;&nbsp;Free shipping on all
        orders &nbsp;&nbsp;&nbsp;&nbsp;Deals Week&nbsp;&nbsp;&nbsp;&nbsp; Free shipping on all
        orders&nbsp;&nbsp;&nbsp;&nbsp;Deals Week &nbsp;&nbsp;&nbsp;&nbsp;Deals Week&nbsp;&nbsp;&nbsp;&nbsp; Free
        shipping on all
        orders&nbsp;&nbsp;&nbsp;&nbsp;Deals Week &nbsp;&nbsp;&nbsp;&nbsp;Deals Week&nbsp;&nbsp;&nbsp;&nbsp; Free
        shipping on all
        orders&nbsp;&nbsp;&nbsp;&nbsp;Deals Week &nbsp;&nbsp;&nbsp;&nbsp;Deals Week&nbsp;&nbsp;&nbsp;&nbsp; Free
        shipping on all
        orders&nbsp;&nbsp;&nbsp;&nbsp;Deals Week&nbsp;&nbsp;&nbsp;&nbsp; Free
        shipping on all
        orders </p>
</div>