<div class="main-box">
    <!-- header html -->
    <div class="header">

        <span class="logo-title">
            <img src="./assets/kicklogo.svg">
            <p id="p1">KICKSTARTERS</p>
        </span>
        <span class="right">
            <a id="FAQs">FAQs</a>
            <a id="contact">Contact Us</a>
            <a class="bag"><img style="" src="./assets/bag.svg"></a>
        </span>

    </div>
    <!-- content html -->

    <div style="height: 39vh;"></div>


    <!-- footer html -->
    <div class='footer'>
        <div class="mid-foot">
            <div class="mid-left">
                <div style="display:flex;flex-direction: column;gap:3vh;">
                    <a style="font-weight: 600;font-size: 16px;">Shop</a>
                    <a>Items</a>
                    <a>Kits</a>
                    <a>Accessories</a>
                </div>
                <div style="display:flex;flex-direction: column;gap:3vh;">
                    <a style="font-weight: 600;font-size: 16px;">Help</a>
                    <a>About</a>
                    <a>FAQ</a>
                    <a>Returns policy</a>
                </div>
                <div style="display:flex;flex-direction: column;gap:3vh;">
                    <a style="font-weight: 600;font-size: 16px;">Follow</a>
                    <a>Twitter</a>
                    <a>Instagram</a>
                    <a>Facebook</a>
                </div>
            </div>
            <div class="mid-right">
                <p>Discover Everyday Essentials Delivered Right to Your<br> Doorstep</p>
            </div>
        </div>
        <div class="end-foot">
            <div>
                <p style="color: #000;
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 25.2px; /* 180% */">© 2023 Unikits.<br>
                <p style="margin-top: -1vh;color: #000;
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 25.2px;
                text-decoration-line: underline;">Privacy Policy, Terms of Service.</p>

            </div>
            <div class="payment">
                <img src="./assets/Visa.svg">
                <img src="./assets/Mastercard.svg">
                <img src="./assets/Discover.svg">
                <img src="./assets/Amex.svg">
                <img src="./assets/PayPal.svg">
                <img src="./assets/GooglePay.svg">
                <img src="./assets/ApplePay.svg">

            </div>
        </div>
    </div>
</div>